@{
}

<form class="box" method="post">
    <input type="text" name="emailAdress" placeholder="Mail Adresi Giriniz" /> <br />
    <input type="password" name="sifre" placeholder="Şifrenizi Giriniz" /> <br />
    <input type="submit" name="Login" class="btn btn-success" />

</form>
